version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: redis-queue
    ports:
      - "${REDIS_PORT:-6341}:6379"
    volumes:
      - redis_data:/data
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  redis_data:

